body {
    background-color: #edf0f0;
}
header {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 8px;
    left: 0;
    top: 0;
    background-color: #fff;
    border-bottom: 10px solid #46a3e0;
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 24px;
    color: #46a3e0;
}
#article-container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 8px 16px 16px 16px;
    background-color: #fff;
}
#h1-style {
    margin: 16px 0px 0px;
    font-weight: 900;
    font-size: 36px;
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2.5rem;
}
.h2-style,#h2-style {
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#h2-style {
    font-weight: normal;
    font-size: 16px;
}
.article-img {
    width: 100%;
}
.h4-article {
    margin: 0px;
    padding: 6px 9px 6px;
    font-family: "Red Hat Display", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
#post-by {
    margin: 8px 0px 16px;
    background-color: #ebf5fc;
}
#post-by-avatar {
    display: inline-block;
    width: 80px;
}
#post-by-a {
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: black;
}
#post-by-a:hover {
    color: black;
}
#post-by-p {
    font-family: "Red Hat Display", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
#date {
    font-size: 13px;
    font-family: "Red Hat Display", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #637581;
}
#share {
    display: inline-block;
}
.share-logo {
    width: 50px;
}
.article-p {
    margin: 16px 0px;
    font-family: "Source Serif Pro", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.article-p-a {
    text-decoration: none;
    color: #e33a11;
}
.article-p-a:hover {
    text-decoration: underline;
}
.h2-style {
    font-weight: 900;
    font-size: 24px;
}
.tiktok-video {
    height: 100%;
}
#tiktok-video-img {
    margin-left: 300px;
}
.tiktok-video a {
    font-size: 13px;
    font-family: "Oxygen", sans-serif, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #464646;
}
.tiktok-video a:hover {
    border-bottom: 1px dotted #464646;
}
.h3-style {
    font-size: 19px;
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.article-ul li {
    margin: 0px 0px 10px;
    font-family: "Source Serif Pro", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.article-ol li {
    font-family: "Source Serif Pro", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#last-article-p {
    margin: 16px 0px;
    font-family: "Source Serif Pro", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#last-article-p::after {
    content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 79 79" style="border-radius:1px;margin-bottom:-4px"><path data-name="Path 47" d="M0 0v79h79V0zm38.8 12.746a5.976 5.976 0 015.974 5.974 5.974 5.974 0 01-5.974 5.974 5.974 5.974 0 01-5.975-5.974 5.975 5.975 0 015.973-5.974zm9.313 53.507H30.981v-5.271h4.393V36.294h-4.482v-5.272h13.269v29.96h3.954z" fill="%23e33a11"/></svg>');
}