body {
    background-color: #edf0f0;
}
header {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 8px;
    left: 0;
    top: 0;
    background-color: #fff;
    border-bottom: 10px solid #46a3e0;
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 24px;
    color: #46a3e0;
}
#article-container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 8px 16px 16px 16px;
    background-color: #fff;
}
#h1-style {
    margin: 16px 0px 0px;
    font-weight: 900;
    font-size: 36px;
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2.5rem;
}
.h2-style,#h2-style {
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#h2-style {
    font-weight: normal;
    font-size: 16px;
}