body {
    background-color: #edf0f0;
}
header {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 8px;
    left: 0;
    top: 0;
    background-color: #fff;
    border-bottom: 10px solid #46a3e0;
    font-family: "Bitter", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 24px;
    color: #46a3e0;
}
